@font-face
{
   font-family: type1;
   src: url('../typefonts/type1.ttf');
}

.back-to-top {
   position: fixed;
   bottom: 2em;
   right: 2em;
   text-decoration: none;
   color: #fbfcfd;
   background-color: #333333;
   font-size: 13px;
   display: none;
}

p{
   font-size: 15px;
}

.back-to-top:hover {    
   background-color: #18356e;
}

.content{
   color:#3b3b3c;
}

#gallery{
   color: #ffffff;
   background-color: #222121;
   padding-bottom: 10px;
}

.topMenuButton{
   color:#3399ff;
   font-size: 13px;
   border : 0;
   outline: 0;
   background: none;
   font-weight: bold;
}.topMenuButton:hover{
   color: #d1ddf5;
   font-size: 13px;
   border : 0;
   outline: 0;
   background: none;
}

#footer{
	width: 100%;
	font-size: 15px;
	line-height: 2.2;
	font-weight: 400;
   padding-top: 10px;
   background: #2a2929;
   color:#ffffff;
}

.logo-title{
   text-align: center;
}

.navbar-static-top{
   padding: 35px;
   background-color: #092038;
}

#socials{
   padding: 5px;
}

.main-nav{
   font-family: 'Veranda', sans-serif;
   font-weight: bold;
   font-size: 14px;
   text-align: center;
}

.navbar-title{
   font-family: type1;
   color: #ffffff;
   font-size: 72px;
   text-decoration: none;
}

.navlinks{
   text-align: center;
   padding: 20px;
   background-color: #092038;
   font-weight: bolder;
}

.nav-link{
   color: #e6e7e7;
   text-decoration: none;
}
.nav-link:visited {color: #e6e7e7; text-decoration: none;}
.nav-link:hover {color: #c9ebf7; text-decoration: none;}
.nav-link:active {color: #e6e7e7; text-decoration: none;}

.nav-link-active{
   color: #89c9f4;
   text-decoration: none;
}
.nav-link-active:visited {color: #0066cc; text-decoration: none;}
.nav-link-active:hover {color: #ffffff; text-decoration: none;}
.nav-link-active:active {color: #89c9f4; text-decoration: none;}

.bar-content{
   background-color: #cce1f5;
   border-left-style: solid;
   border-left-width: 5px;
   border-left-color: #0066cc;
   border-right-style: solid;
   border-right-width: 5px;
   border-right-color: #0066cc;
   padding: 10px;
}

.box-content{
   background-color: #cce1f5;
   padding: 10px;
   border-color: #ffffff;
   border-width: 5px;
   border-style: solid;
}

.centered{
   text-align: center;
}

.boldtext{
   font-weight: bolder;
}

.page-header-box{
   width: 100%;
   color:#0066cc;
   border-bottom-style: solid;
   border-bottom-width: 5px;
   border-bottom-color: #0066cc;
   padding: 10px;
}

.home-bg{
   background-image: url("../img/home_bg.png");
   background-position:center center;
   background-size: 100%;
}

.social-bg{
   background-image: url("../img/social_bg.png");
   background-position:center center;
   background-size: 100%;
}

.business-bg{
   background-image: url("../img/business_bg.png");
   background-position:center center;
   background-size: 100%;
}

.projects-bg{
   background-image: url("../img/projects_bg.png");
   background-position:center center;
   background-size: 100%;
}

.contact-bg{
   background-image: url("../img/contact_bg.png");
   background-position:center center;
   background-size: 100%;
}

.social-bg h1 small{
   color:#0066cc;
}